<div class="dash">
  <div class="left">
    <div class="sidebar">
      <div class="menu">
        <div class="user-data">
          <div class="left-user">
            <p>Persona</p>
            <p>Perfil</p>
          </div>
          <div class="right-add">
            <p>{{ usucod }}</p>
            <p>{{ perfil }}</p>
          </div>
        </div>
        <button class="purple-btn deconn" (click)="logout()">Desconectarse</button>
      </div>

      <div class="drop-down-menu">
        <div class="menu" (click)="organigrama = !organigrama" tabindex="0">
          <a class="choice">Organigrama</a>
          <div class="menu-content" [class.open]="organigrama">
            <div class="menu-item">
              <a class="acEje" 
                [class.disabled]="isDisabled('acEje')"
                (click)="navigateTo('ejercicios')"
              >Consulta de ejercicios</a>
              <a class="acCGe" 
                [class.disabled]="isDisabled('acCGe')"
                (click)="navigateTo('centroGestor')"
              >Centros gestores
              </a>
              <a class="AcCCo" 
                [class.disabled]="isDisabled('AcCCo')"
                (click)="navigateTo('coste')"
              >Centros de coste</a>
              <a class="acDep" 
                [class.disabled]="isDisabled('acDep')"
                (click)="navigateTo('servicios')"
              >Servicios</a>
              <a class="acPer" 
                [class.disabled]="isDisabled('acPer')"
                (click)="navigateTo('personas')"
              >Personas</a>
              <a class="#" 
                (click)="navigateTo('personas-por-servicios')"
              >Consulta de personas por servicios</a>
              <a class="acLEn" 
                [class.disabled]="isDisabled('acLEn')"
                (click)="navigateTo('entrega')"
              >Lugares de entrega</a>
            </div>
          </div>
        </div>

        <div class="menu" (click)="proveedores = !proveedores" tabindex="0">
          <a class="choice">Proveedores</a>
          <div class="menu-content" [class.open]="proveedores">
            <div class="menu-item">
              <a class="acCoTer" 
                [class.disabled]="isDisabled('acCoTer')"
                (click)="navigateTo('Cproveedores')"
              >Consulta de proveedores</a>
              <a class="acTer" 
                [class.disabled]="isDisabled('acTer')"
                (click)="navigateTo('proveedorees')"
              >Gestión de proveedores</a>
              <a class="acCon" 
                [class.disabled]="isDisabled('acCon')"
                (click)="navigateTo('contratos')"
              >Gestión de contratos</a>
            </div>
          </div>
        </div>

        <div class="menu" (click)="contabilidad = !contabilidad" tabindex="0">
          <a class="choice">Contabilidad</a>
          <div class="menu-content" [class.open]="contabilidad">
            <div class="menu-item">
              <a class="acFacC" 
                [class.disabled]="isDisabled('acFacC')"
                (click)="navigateTo('Cfactura')"
              >Consulta de facturas</a>
              <a class="acFac" 
                [class.disabled]="isDisabled('acFac')"
                (click)="navigateTo('facturas')"
              >Gestión de facturas
              </a> 
              <a class="acMCon" 
                [class.disabled]="isDisabled('acMCon')"
                (click)="navigateTo('contabilizacion')"
              >Monitor de contabilización
              </a>
              <a class="acRCon" 
                [class.disabled]="isDisabled('acRCon')"
                (click)="navigateTo('Fcontabilizadas')"
              >Gestión de facturas contabilizadas</a>
              <a class="#" 
                (click)="navigateTo('Ccontabilizado')"
              >Consult del contabilizado</a>
              <a class="#" 
                (click)="navigateTo('Ccontabilizar')"
              >Consulta del pendiente de contabilizar</a>
              <a class="acCoGBSM"
                [class.disabled]="isDisabled('acCoGBSM')"
                (click)="navigateTo('Ccredito')"
              >Consulta bolsa de crédito</a>
              <a class="acGBS" 
                [class.disabled]="isDisabled('acGBS')"
                (click)="navigateTo('credito')"
              >Gestión bolsa de crédito</a>
              <a class="acGBSM" 
                [class.disabled]="isDisabled('acGBSM')"
                (click)="navigateTo('credito-Cge')"
              >Gestión bolsa de crédito por centro gestor</a>
            </div>
          </div>
        </div>

        <div class="menu" (click)="articulos = !articulos" tabindex="0">
          <a class="choice">Artículos</a>
          <div class="menu-content" [class.open]="articulos">
            <div class="menu-item">
              <a class="acAFA margin" 
                [class.disabled]="isDisabled('acAFA')"
                (click)="navigateTo('familia')"
              >Familias y subfamilias</a>
            </div>
          </div>
        </div>

        <div class="menu" (click)="temp = !temp" tabindex="0">
          <a class="choice">Tipos</a>
          <div class="menu-content" [class.open]="temp">
            <div class="menu-item">
              <a class="" 
                (click)="navigateTo('almacenaje')"
              >Tipos de almacenaje</a>
              <a class="margin" 
                (click)="navigateTo('unidades')"
              >tipos de unidades</a>
            </div>
          </div>
        </div>

        <div class="menu" (click)="temp2 = !temp2" tabindex="0">
          <a class="choice">Consultas</a>
          <div class="menu-content" [class.open]="temp2">
            <div class="menu-item">
              <a class="" 
                (click)="navigateTo('almacenes')"
              >Consulta analitica de almacenes</a>
              <a class="" 
                (click)="navigateTo('Cfamilia')"
              >Consulta analitica de familias</a>
              <a class="" 
                (click)="navigateTo('Carticulos')"
              >Consulta analitica de articulos</a>
              <a class=""
                (click)="navigateTo('CGArticulos')"
              >Consulta General de artículos</a>
              <a class="margin"
                (click)="navigateTo('CAlmacen')"
              >Consulta de artículos por almacén</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="right">
    <div class="dashboard">
      <div class="version">
        <p>version</p>
        <p>{{version}}</p>
      </div>
      <div class="header-with-logo">
        <img [src]="logoPath" alt="Logo" class="login-logo">
        <h1>Panel principal</h1>
      </div>
      <h2>Le damos la bienvenida al panel principal de SCAP</h2>
      <div class="connection-data">
        <p class="width">Datos de conexión:</p>
        <p>Perfil interno:</p>
      </div>
      <div class="parameters">
        <div class="left-params">
          <div class="second-left">
            <p>Entidad:</p>
            <p>Ejercicio:</p>
            <p>Centro Gestor:</p>
          </div>
          <div class="second-right">
            <p>{{entcod}}</p>
            <p>{{eje}}</p>
            <div class="on-wo">
              <p>{{cge}}</p>
              <button class="purple-btn" (click)="goToCge()">Cambiar Centro Gestor</button>
            </div>
          </div>
        </div>
        <div class="right-params">
          <div class="checkboxes">
            <input 
              type="checkbox" 
              [checked]="esComprador" 
              (click)="$event.preventDefault()"
            ><span class="color-text"> Comprador</span><br>
            <input 
              type="checkbox" 
              [checked]="esAlmacen" 
              (click)="$event.preventDefault()"
            ><span class="color-text"> Farmacia / Almacén</span><br>
            <input 
              type="checkbox" 
              [checked]="esContable" 
              (click)="$event.preventDefault()"
            ><span class="color-text"> Contable</span><br>
          </div>
          <div class="purple-btn services-fix" (click)="launchAddCentroGestor()">Ver Servicios de la Persona</div>
        </div>
      </div>
    <p class="status">{{centroGestorStatus}}</p>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showServices" (click)="closeShowServices()"></div>
<div class="add-confirm-modal" *ngIf="showServices">
  <div class="btns">
    <div class="title">
      <h3>Servicios asociados del usario</h3>
    </div>
    <button class="red-btn" (click)="closeShowServices()">✖</button>
  </div>
  <h1 class="errorBtn">{{servicesError}}</h1>
  <div class="detail-services">
    <table class="main-table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Centro Gestor</th>
          <th>Servicio</th>
          <th>Comp.</th>
          <th>Alma.</th>
          <th>Conta.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of paginatedServices">
          <td>{{p.depcod}}</td>
          <td>{{p.cgedes}}</td>
          <td>{{p.depdes}}</td>
          <td>
            <input 
              type="checkbox"
              [checked]="p.depcom === 1"
              class="locked-radio"
              (click)="$event.preventDefault()"
            >
          </td>
          <td>
            <input 
              type="checkbox"
              [checked]="p.depalm === 1"
              class="locked-radio"
              (click)="$event.preventDefault()"
            >
          </td>
          <td>
            <input 
              type="checkbox"
              [checked]="p.depint === 1"
              class="locked-radio"
              (click)="$event.preventDefault()"
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>